

@font-face {
    font-family: norse-bold;
    src: url(/Norse-Bold.otf);
}

@font-face {
    font-family: montserrat;
    src: url(/Montserrat-VariableFont_wght.ttf);
}

* {
    font-family: montserrat;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}


.bg {
    background-image: url(/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    width: 60%;
}

.logoContainer {
    margin-top: 25vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

.logoContainer > h1 {
    position: relative;
    margin: 0;
    font-family: norse-bold;
    font-size: 80px;
}

.logoContainer > img {
    height: 100px;
    position: relative;
}

.sign_up {
    padding: 5% 0;
    background-color: rgb(247, 247, 247);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.text {
    margin: 0 3vh;
}

div.text > p {
    font-size: 20px;
    font-weight: 500;
}

.grouped {
    margin-top: 2rem;
    padding: 3vh;
    background-color: white;
    box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.2);
}


form > legend {
    font-size: 20px;
    font-weight: bold;
}

fieldset {
    display: flex;
    gap: 5rem;
    border: 0;
    padding: 1rem 0;
}

label {
    display: block;
    font-size: 12px;
    font-weight: 500;
}

.form input {
    border-radius: 5px;
    border: solid 1px rgb(183, 183, 183);
    padding: 7px 15px;
}

.form input:focus {
    outline: none;
    border-color: blue;
    box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.2);
}

.acc {
    margin: 0 3vh;
}

.createAcc {
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: rgb(66, 89, 66);
    margin-top: 2rem;
    margin-left: 3vh;
    padding: 10px 35px;
    border: solid;
    border-radius: 10px;
}

.createAcc:hover {
    background-color: rgb(71, 133, 5);
    color: rgb(255, 255, 255);
    transition: background-color .3s ease-in-out;
    transform-origin: center;

}

.acc > p > a {
    text-decoration: none;
    color : rgb(66, 89, 66);
    font-weight: 500;
}

.acc > p > a:hover {
    color: rgb(56, 177, 56);
}